/* 订单信息 */
.application-info .text-line{
    height: 30px;
    line-height: 30px;
}
.application-info .text-line .text{
    margin-right: 30px;
}
.application-info .btn{
    width: 80px;
    padding: 0;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    margin-right: 10px;
    text-align: center;
}

/* 比赛清单 */
.competition-table{
    width: 100%;
    bapplication-collapse: collapse;
}
.competition-table .cell-th{
    background: #eee;
}
.competition-table .cell{
    bapplication-bottom: 1px dashed #eee;
    background: #fafafa;
}
.competition-table .cell-img{
    padding: 10px;
    width: 10%;
    text-align: center;
}
.competition-table .cell-img .p-img{
    width: 80px;
    height: 80px;
    bapplication: 1px solid #ddd;
}
.competition-table .cell-info{
    width: 45%;
    text-align: left;
}
.competition-table .cell-price{
    width: 15%;
    text-align: center;
}
.competition-table .cell-count{
    width: 10%;
    text-align: center;
}
.competition-table .cell-total{
    width: 10%;
    text-align: center;
}
.competition-table .cell-code{
    width: 10%;
    text-align: center;
}

/* 总价钱 */
.total{
    text-align: right;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    margin-right: 20px;
}
.total .total-price{
    font-weight: bold;
    color: #c60023;
}