<!DOCTYPE html>
<html lang="en">
    <head>
        <%= require('html-loader!./layout/head-common.html')  %>
        <title><%= htmlWebpackPlugin.options.title%> - MMall电商平台</title>
    </head>
    <body>
        <%= require('html-loader!./layout/nav.html')  %>
        <%= require('html-loader!./layout/header.html')  %>
        <div class="crumb">
            <div class="w">
                <div class="crumb-con">
                    <a class="link" href="./index.html">MMall</a>
                    <span>></span>
                    <span class="link-text"><%= htmlWebpackPlugin.options.title%></span>
                </div>
            </div>
        </div>
        <div class="page-wrap w">
            <%= require('html-loader!./layout/nav-side.html')  %>
            <div class="content with-nav">
                <div class="panel">
                    <div class="panel-title">code提交信息</div>
                    <div class="panel-body">
                        <div class="order-info">
                            <div class="code_input">
                                
                            </div>
                            
                            <div class="text-line">
                                <form id="upload-form">
                                　　　<input type="file" id="upload" name="upload_file" />                 
                                </form> 
                            </div>
                            <div class="text-line">
                                <a class="btn btn-submit" id="submit">立即提交</a>
                            </div>
                            <div>
                                <input type="hidden" id="src" name="src" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%= require('html-loader!./layout/footer.html')  %>
    </body>
</html>