<!DOCTYPE html>
<html lang="en">
    <head> 
        <%= require('html-loader!./layout/head-common.html')  %>
        <title>Coding</title>
    </head>
    <body>
        <%= require('html-loader!./layout/nav.html')  %>
        <%= require('html-loader!./layout/header.html')  %>
        <div class="w">
            <ul class="keywords-list">
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=C++">C++</a>
                    <a class="link" target="_blank" href="./list.html?keyword=Java">Java</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=PHP">PHP</a>
                    <a class="link" target="_blank" href="./list.html?keyword=Python">Python</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=移动开发">移动开发</a>
                    <a class="link" target="_blank" href="./list.html?keyword=后台开发">后台开发</a>
                    <a class="link" target="_blank" href="./list.html?keyword=前端开发">前端开发</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=数据清洗">数据清洗</a>    
                    <a class="link" target="_blank" href="./list.html?keyword=人工智能">人工智能</a>
                    <a class="link" target="_blank" href="./list.html?keyword=沙箱游戏">沙箱游戏</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=射击游戏">射击游戏</a>
                    <a class="link" target="_blank" href="./list.html?keyword=决策游戏">决策游戏</a>
                    <a class="link" target="_blank" href="./list.html?keyword=模拟游戏">模拟游戏</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=动作游戏">动作游戏</a>
                    <a class="link" target="_blank" href="./list.html?keyword=微信开发">微信开发</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=微信小程序">微信小程序</a>
                    <a class="link" target="_blank" href="./list.html?keyword=微信公众号">微信公众号</a>
                    <a class="link" target="_blank" href="./list.html?keyword=微信表情">微信表情</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=微信外挂">微信外挂</a>
                    <a class="link" target="_blank" href="./list.html?keyword=Mysql">Mysql</a>
                    <a class="link" target="_blank" href="./list.html?keyword=Oracle">Oracle</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=PostgreSQL">PostgreSQL</a>
                    <a class="link" target="_blank" href="./list.html?keyword=LexisNexis">LexisNexis</a>
                    <a class="link" target="_blank" href="./list.html?keyword=Redis">Redis</a>
                    <a class="link" target="_blank" href="./list.html?keyword=Redis">Redis</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=Redis">Redis</a>
                    <a class="link" target="_blank" href="./list.html?keyword=Redis">Redis</a>
                    <a class="link" target="_blank" href="./list.html?keyword=Redis">Redis</a>
                </li>
            </ul>
            <div class="banner-con">
                <div class="loading"></div>
            </div>
        </div>
        <div class="w p-list">
            
        </div>
        <%= require('html-loader!./layout/footer.html')  %>
    </body>
</html>